
<div class="container text-center bg-white"> 
    <div class="row ">
        
            <div class="col-3 p-2 ">
             <a (click)="filter(' ')">
                <img style="border-radius: 100px;" class="w-75" src="https://i.postimg.cc/yN2DntMp/food-donation-box-vector-flat-260nw-1777249391.jpg" alt="">
                <h6>ALL PRODUCTS</h6>
             </a>
        </div>
        <div class="col-3 p-2 ">
            <a (click)="filter(2)">
                <img style="border-radius: 100px;" class="w-75" src="https://i.postimg.cc/zXMMpkd2/shutterstock-1903690807.jpg" alt="">
                <h6>FASHION</h6>
            </a>
        </div>
        <div  class="col-3 p-2 ">
            <a (click)="filter(1)">
                <img style="height: 155px;  border-radius: 100px;" class="w-75" src="https://i.postimg.cc/9MqWMfNJ/istockphoto-941712262-612x612.jpg" alt="">
                <h6>ELECTRONICS</h6>
            </a>
        </div>
        <div class="col-3 p-2 ">
            <a (click)="filter(3)">
                <img  style="height: 155px; border-radius: 100px;" class="w-75" src="https://i.postimg.cc/85w7RcbD/living-room-interior-cozy-apartment-2d-cartoon-interior-with-furniture-on-background-home-furnishing.webp" alt="">
                <h6>FURNITURE</h6>
            </a>
        </div>

    </div>

</div>




<section class="py-5 bg-white">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterproducts | filter:searchkey:'productName'  " class="col mb-5  text-dark">
                <div class="card h-100 bg-warning">
                    <!-- Product image-->
                    <img style="height:300px" class="card-img-top" src="{{i.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <p>{{i.description}}</p>
                            <!-- Product price-->
                            <p class="text-danger">{{i.price}}RS</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view-product/{{i.id}}">View options</a></div>
                    </div>
                </div>
            </div>
          
            </div>
        </div>
</section>
